pipeline/Task1.json
{
	"name": "Task1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM BALAJI.MAPPINGTABLE\nWHERE ISACTIVE=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mappingtablevalues",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable9",
									"type": "DatasetReference",
									"parameters": {
										"Tablename": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "COPYINGTABES",
									"type": "DatasetReference",
									"parameters": {
										"SINKTABLENAME": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"ifFalseActivities": [
						{
							"name": "Copy data3",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "Select * from Balaji.dimcustomer\nwhere\ngender='F'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable16",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "copyingfemaledata",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "Select * from Balaji.dimcustomer\nwhere\ngender='M'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CustomerKey",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "CustomerKey",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "GeographyKey",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "GeographyKey",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "CustomerAlternateKey",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "CustomerAlternateKey",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Title",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Title",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MiddleName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "MiddleName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LastName",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "LastName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "NameStyle",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "NameStyle",
												"type": "Boolean",
												"physicalType": "bit"
											}
										},
										{
											"source": {
												"name": "BirthDate",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "BirthDate",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "MaritalStatus",
												"type": "String",
												"physicalType": "nchar"
											},
											"sink": {
												"name": "MaritalStatus",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Suffix",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Suffix",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Gender",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Gender",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "EmailAddress",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "EmailAddress",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "YearlyIncome",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "YearlyIncome",
												"type": "Decimal",
												"physicalType": "decimal"
											}
										},
										{
											"source": {
												"name": "TotalChildren",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "TotalChildren",
												"type": "Byte",
												"physicalType": "tinyint"
											}
										},
										{
											"source": {
												"name": "NumberChildrenAtHome",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "NumberChildrenAtHome",
												"type": "Byte",
												"physicalType": "tinyint"
											}
										},
										{
											"source": {
												"name": "EnglishEducation",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "EnglishEducation",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SpanishEducation",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "SpanishEducation",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FrenchEducation",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "FrenchEducation",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "EnglishOccupation",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "EnglishOccupation",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SpanishOccupation",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "SpanishOccupation",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FrenchOccupation",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "FrenchOccupation",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "HouseOwnerFlag",
												"type": "String",
												"physicalType": "nchar"
											},
											"sink": {
												"name": "HouseOwnerFlag",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "NumberCarsOwned",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "NumberCarsOwned",
												"type": "Byte",
												"physicalType": "tinyint"
											}
										},
										{
											"source": {
												"name": "AddressLine1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "AddressLine1",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "AddressLine2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "AddressLine2",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Phone",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "Phone",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DateFirstPurchase",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "DateFirstPurchase",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "CommuteDistance",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "CommuteDistance",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable16",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "copyingmaledata",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}